* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  line-height: 1.5;
}

.cv {
  display: grid;
  grid-template-columns: 1fr 3fr;
  gap: 20px;
  place-items: stretch;
}

.view,
#form {
  border: 2px solid black;
  margin: 50px 10px;
  padding: 0;
  max-width: 70vw;
  word-wrap: break-word;
}

#particulars {
  background-color: #123d9a;
  color: white;
  text-align: center;
  padding: 30px;
}

#particulars h1 {
  text-transform: uppercase;
  margin-bottom: 10px;
}

#particulars ~ div {
  display: grid;
  grid-template-columns: 30% 1fr;
}

.header {
  border: 1px solid black;
  padding: 10px;
  justify-self: flex-start;
  align-self: flex-start;
  width: 80%;
  text-align: center;
  margin: 20px;
}

#form {
  padding: 20px;
}

#form h2 {
  margin-bottom: 20px;
}

.field {
  display: grid;
  grid-template-columns: 60px 1fr;
  gap: 20px;
  justify-items: flex-start;
  margin-bottom: 10px;
}

input {
  width: 100%;
}

.badge {
  background-color: #47d0eb;
  border-radius: 5px;
  text-align: center;
  padding: 5px 15px;
  overflow-wrap: break-word;
  max-width: 500px;
}

#skills > div + div,
#education > div + div,
#work > div + div {
  padding: 5px;
  margin: 20px;
}

#skills > div + div {
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
  gap: 10px;
}
.expand {
  display: grid;
  grid-template-columns: 1fr 30px;
  gap: 10px;
  place-items: flex-start;
}

.edu, .work > div {
  display: flex;
  justify-content: space-between;
}

.edu-form {
  border: 1px solid black;
  border-radius: 5px;
  padding: 10px;
  position: relative;
}

.edu-form > button.delete {
  position: absolute;
  top: 0;
  right: 0;
}

.edu + .edu,
.edu-form + .edu-form, .work + .work {
  margin-top: 20px;
}

li {
  margin-left: 20px;
}

button:not(.delete) {
  padding: 10px;
}

.edu-form + button {
  margin-top: 10px;
}

button {
  cursor: pointer;
}

.App > h1:first-child {
  text-align: center;
  background-color: #FC6932;
  color: #eee;
}