* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.cv {
  border: 2px solid black;
  width: 80%;
  margin: 100px auto;
  padding: 0;
}

#particulars {
  background-color: #123D9A;
  color: white;
  text-align: center;
  padding: 30px;
}

#particulars h1 {
  text-transform: uppercase;
  margin-bottom: 10px;
}

#particulars ~ div {
  display: grid;
  grid-template-columns: 30% 1fr;
}

.header {
  border: 1px solid black;
  padding: 10px;
  justify-self: flex-start;
  width: 80%;
  text-align: center;
  margin: 20px;
}